<% include header %>
<div class="row" style="display: flex; flex-wrap: wrap;">
<% if(messages.length) { %>
  <% messages.forEach(function(msg) { %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= msg.message %></p>
      </div>
      <div class="panel-footer">
        <div class="text-muted pull-right">
            <%= msg.saved %>
        </div>
        <%= msg.name %>
      </div>
    </div>
  </div>
  <% }) %>
  <%} else { %>
    No messages yet, <a href="/add">add one!</a>
  <% } %>
</div>
<% include footer %>
